<form #meuForm="ngForm" (ngSubmit)="onSubmit(meuForm)" class="form-horizontal">
  <div class="form-group" [ngClass]="aplicaCssErro(nome)" >
    <div class="col-md-12">
        <label for="nome">Nome</label>
    </div>
    <div class="col-md-12">
        <input type="text" name="nome" id="nome" placeholder="Nome" 
        class="form-control" [(ngModel)]="usuario.nome" required #nome="ngModel">
        <app-campo-control-erro 
        [mostrarErro]="verificaValidTouched(nome)" 
        msgErro="Nome obrigatório">
        </app-campo-control-erro>
    </div> 
  </div>

  <div class="form-group" [ngClass]="aplicaCssErro(email)" >
    <div class="col-md-12">
      <label for="email">Email</label>
    </div>
    <div class="col-md-12">
        <input type="email" name="email" id="email" placeholder="nome@email.com" 
        class="form-control" [(ngModel)]="usuario.email" required email #email="ngModel">
        <app-campo-control-erro 
        [mostrarErro]="verificaValidTouched(email)" 
        msgErro="Email inválido">
      </app-campo-control-erro>
    </div>
  </div>

  <div ngModelGroup="endereco">
    <div class="form-group">
      <div class="col-md-3" [ngClass]="aplicaCssErro(cep)" >
        <label for="cep">CEP</label>
        <input type="text" name="cep" id="cep" class="form-control"
        ngModel required #cep="ngModel" (blur)="consultaCep($event.target.value, meuForm )" >
        <app-campo-control-erro 
          [mostrarErro]="verificaValidTouched(cep)" 
          msgErro="CEP é obrigatório"
          nome="cep">
        </app-campo-control-erro>
      </div>
      <div class="col-md-3" [ngClass]="aplicaCssErro(numero)" >
        <label for="numero">Número</label>
        <input type="text" name="numero" id="numero" class="form-control"
        ngModel required #numero="ngModel" >
        <app-campo-control-erro 
          [mostrarErro]="verificaValidTouched(numero)" 
          msgErro="Número é obrigatório">
        </app-campo-control-erro>
      </div>
      <div class="col-md-6">
          <label for="complemento">complemento</label>
          <input type="text" name="complemento" id="complemento" class="form-control"
          ngModel required #complemento="ngModel" >
      </div>
    </div>

    <div class="form-group" [ngClass]="aplicaCssErro(rua)" >
      <div class="col-md-12">
          <label for="rua">Rua</label>
      </div>
      <div class="col-md-12">
          <input type="text" name="rua" id="rua" placeholder="rua" 
          class="form-control" ngModel required #rua="ngModel">
          <app-campo-control-erro 
          [mostrarErro]="verificaValidTouched(rua)" 
          msgErro="Rua é obrigatória">
          </app-campo-control-erro>
      </div> 
    </div>

    <div class="form-group">
        <div class="col-md-5" [ngClass]="aplicaCssErro(bairro)">
          <label for="bairro">Bairro</label>
          <input type="text" name="bairro" id="bairro" class="form-control"
          ngModel required #bairro="ngModel" >
          <app-campo-control-erro 
          [mostrarErro]="verificaValidTouched(bairro)" 
          msgErro="Bairro é obrigatório">
          </app-campo-control-erro>
        </div>
        <div class="col-md-4" [ngClass]="aplicaCssErro(cidade)" >
          <label for="cidade">Cidade</label>
          <input type="text" name="cidade" id="cidade" class="form-control"
          ngModel required #cidade="ngModel" >
          <app-campo-control-erro 
          [mostrarErro]="verificaValidTouched(cidade)" 
          msgErro="Cidade é obrigatória">
          </app-campo-control-erro>
        </div>
        <div class="col-md-3" [ngClass]="aplicaCssErro(estado)" >
          <label for="estado">Estado</label>
          <input type="text" name="estado" id="estado" class="form-control"
          ngModel required #estado="ngModel" >
          <app-campo-control-erro 
          [mostrarErro]="verificaValidTouched(estado)" 
          msgErro="Estado é obrigatório">
          </app-campo-control-erro>
        </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary"
  [disabled]="!meuForm.valid">Submit</button>
  
  <app-form-debug [form]="meuForm"></app-form-debug>
</form>