<div class="modal-header">
  <div class="text-center">
    <h4 class="modal-title pull-left">
      Novo Item
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div class="modal-body">
  <form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="formSubmit()">
    <div class="form-group">
      <div class="col-md-12">
        <label for="nome" class="form-label">Nome</label>
      </div>
      <div class="col-md-12" [ngClass]="aplicaCssErro('nome')">
        <!-- <input type="text" formControlName="nome" class="form-control" (click)="verificaValidTouched('nome')"> -->
        <app-input mensagemDeErro="Campo obrigatório">
          <input type="text" formControlName="nome" id="nome" class="form-control">
        </app-input>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <label for="valor">Valor</label>
          </div>
          <div class="col-md-12">
            <input type="number" class="form-control" formControlName="valor">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <label for="imagem">Imagem</label>
          </div>
          <div class="col-md-3">
            <label class="btn btn-default form-control">
              <span>
                <i class="material-icons" style="font-size: 20px">&#xE2C6;</i>
              </span>
              <input type="file" style="display:none" id="imagem" (change)="onImgInput($event)">
            </label>
          </div>
          <div class="col-md-9">
            <div>
              <h5 *ngIf="fileName">{{ fileName }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <label for="descricao">Descrição</label>
      </div>
      <div class="col-md-12">
        <input type="text" id="descricao" class="form-control" formControlName="descricao">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <label for="url">Links</label>
      </div>
      <div class="col-md-12" formArrayName="links">
        <div class="row">
          <div *ngFor="let link of links.controls; let i=index">
            <div class="col-md-9">
              <input type="url" class="form-control" [formControlName]="i">
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btnTools" (click)="addLinkInput()">
                <i class="material-icons" style="vertical-align: middle; font-size: 20px">&#xE145;</i>
              </button>
              <button type="button" class="btn btnTools" *ngIf="i != 0" (click)="removeLinkInput(i)">
                <i class="material-icons" style="vertical-align: middle; font-size: 20px">&#xE872;</i>
              </button>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="form-group">
      <div class="col-md-12">
        <button type="submit" class="btn btn-success">Salvar</button>
        <button type="button" class="btn btn-danger " (click)="modalRef.hide()">Cancelar</button>
      </div>
      <div class="col-md-12"></div>

    </div>

  </form>
</div>