<div class="modal-header">
  <div class="text-center">
    <h4 class="modal-title pull-left">
      Novo Item
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-md-12">
        <label for="nome" class="form-label">Nome</label>
      </div>
      <div class="col-md-12">
        <input type="text" name="" id="" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6">
        <div class="row">
         <div class="col-md-12">
            <label for="imgImput">Imagem</label>
         </div>
          <div class="col-md-3">
            <label class="btn btn-default form-control">
              <span>
                  <i class="material-icons" style="font-size: 20px">&#xE2C6;</i>
              </span>
              <input type="file" id="imgImput" style="display:none">            
            </label>
          </div>
          <div class="col-md-9">
            
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
              <label for="valor">Valor</label>
          </div>
          <div class="col-md-12">
            <input type="number" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <label for="descricao">Descrição</label>
      </div>
      <div class="col-md-12">
        <input type="text" id="descricao" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <label for="url">Links</label>
      </div>
      <div class="col-md-12">
        <input type="url" name="urls" id="urls" class="form-control">
      </div>

    </div>
    <div class="form-group">
      <div class="col-md-12"></div>
      <div class="col-md-12"></div>

    </div>
    <div class="form-group">
      <div class="col-md-12"></div>
      <div class="col-md-12"></div>

    </div>
    <div class="form-group">
      <div class="col-md-12"></div>
      <div class="col-md-12"></div>

    </div>
    <div class="form-group">
      <div class="col-md-12"></div>
      <div class="col-md-12"></div>

    </div>
    <div class="form-group">
      <div class="col-md-12"></div>
      <div class="col-md-12"></div>

    </div>
  </form>
</div>