<div class="row justify-content-center">
  <div class="col-md-4 card">
      <h4 class="text-center">Login</h4>
      <form>
          <div class="form-group">
            <input type="email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" class="form-control">
          </div>
          <div class="form-group">
              <button type="button" class="btn btn-default form-control" (click)="login()">Login</button>
            </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary form-control" (click)="googleLogin()">Google Login</button>
          </div>
          <div class="form-group">
              <button type="button" class="btn btn-primary form-control" (click)="facebookLogin()">Facebook Login</button>
            </div>
        </form>
  </div>
</div>