.button-nav{
    color: #777;
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 20px;
    position: relative;
    display: block;
    border: none;
}

.button-nav:hover{
    color: #333;
    background-color: transparent;
    text-decoration: none;
}
