
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    <h3>Área de Login</h3>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label for="nome" class="form-label">Nome</label>
                </div>
                <div class="col-md-12">
                    <input type="text" formControlName="nome" id="nome" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label for="nome" class="form-label">Senha</label>
                </div>
                <div class="col-md-12">
                    <input type="password" formControlName="senha" id="senha" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <button type="submit" class="btn" (click)="resetar()">Limpar</button>
                </div>
            </div>
        </form>
    </div>
</div>

